.font-xx-small { 
    font-size: xx-small;
    color: #555555;
}
.font-x-small { 
    font-size: x-small;
    color: #555555;
}
.font-small { 
    font-size: small;
    color: #555555;
}
.font-medium { 
    font-size: medium;
    color: #555555;
}
.font-large { 
    font-size: large;
    color : #66b6d2;
    text-decoration:none;
}
.font-x-large { 
    font-size: x-large;
    color : #66b6d2;
}
.font-xx-large { 
    font-size: xx-large;
    color : #66b6d2;
}
.font-bold { 
    font-weight: bold;
}
.img {
    vertical-align:middle;
}
.file-name {
    font-size: xx-small;
    display: inline-block; 
    width: 20%;
}
.last-modified {
    font-size: xx-small;
    display: inline-block; 
    width: 20%;
}
.file-size {
    font-size: xx-small;
    display: inline-block; 
    width: 10%;
}
.desc {
    font-size: xx-small;
    display: inline-block; 
    width: 20%;
}
.content {
    width: 80%;
    text-align: left;
    align-items: center;
    justify-content: center;
}
.resources {
    font-size: xx-small;
    width: 90%; 
    text-align: center;
}
.left-margin { 
    padding-left:10%; 
}
.align-left {
    text-align: left;
}
.default-width {
    width: 90%;
}
td {        
    border-top: 2px solid lightskyblue;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 20px;
}
hr {
    position: relative;
    border: none;
    height: 0px;
    background: lightskyblue;
    margin-bottom: 20px;
}
a:link { 
    color : #66b6d2;
    text-decoration: none; 
}
