.font-xx-small { 
    font-size: xx-small;
    color: #555555;
}
.font-x-small { 
    font-size: x-small;
    color: #555555;
}
.font-small { 
    font-size: small;
    color: #555555;
}
.font-medium { 
    font-size: medium;
    color: #555555;
}
.font-large { 
    font-size: large;
    color : #66b6d2;
    text-decoration:none;
}
.font-x-large { 
    font-size: x-large;
    color : #66b6d2;
}
.font-xx-large { 
    font-size: xx-large;
    color : #66b6d2;
}
.font-bold { 
    font-weight: bold;
}
.img {
    vertical-align:middle;
}
.last-modified {
    font-size: xx-small;
    display: inline-block; 
    width: 20%;
}
.file-size {
    font-size: xx-small;
    display: inline-block; 
    width: 10%;
}
.desc {
    font-size: xx-small;
    display: inline-block; 
    width: 20%;
}
.content {
    width: 80%;
    text-align: left;
    align-items: center;
    justify-content: center;
}
.resources {
    font-size: xx-small;
    width: 90%; 
    text-align: center;
}
.left-margin { 
    padding-left:10%; 
}
.align-left {
    text-align: left;
}
.default-width {
    width: 90%;
}
hr {
    position: relative;
    border: none;
    height: 0px;
    background: lightskyblue;
    margin-bottom: 20px;
}
a:link { 
    color : #66b6d2;
    text-decoration: none; 
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}
.login-container h2 {
    margin-bottom: 20px;
}
.centered-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-field {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #66b6d2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}
.login-btn:hover {
    background-color: #1a918d;
}
.fail-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}
.fail-container h1 {
    color: #000000;
}
.fail-container p {
    color: #000000;
    margin-bottom: 20px;
}
.retry-btn {
    background-color: #66b6d2;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.retry-btn:hover {
    background-color: #1a918d;
}
.img {
    vertical-align:middle;
}
.file-name {
    font-size: xx-small;
    display: inline-block; 
    width: 20%;
}
td {
    border-top: 2px solid lightskyblue;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 20px;
}
.chart-container { 
    width: 1000px;
    height: 500px;
    margin: 20px;
}
