<html>
    <head>
        <!-- <link rel="icon" href="/img/favicon.ico" type="img/x-icon"> -->
        <title>Welcome Leap - <!--@serverName--></title>
        <meta charset="utf-8">
        <title>Leap?</title>
        <link rel="stylesheet" href="/css/styles.css">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="/scripts/js/refreshImage.js"></script>
    </head>

    <body class="content">        
        <p class="font-x-large font-bold"><a href="/"><img class="img" src="/img/logo32.png"/></a> Leap Monitoring Page</p>
        <hr align="left">
        <div class="default-width">
            <table>
                <th ><p class="font-large align-left">Performance</p></th>
                <th ><p class="font-large align-left">Memory</p></th>
                <tr padding="5">
                    <td><img id="cpu" src="/monitor/cpu.png"/></td>
                    <td><img id="memory" src="/monitor/memory.png"/></td>
                </tr>
                <tr>
                    <td><img id="thread" src="/monitor/thread.png"/></td>
                    <td><img id="heap" src="/monitor/heap.png"/></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <hr align="left">
    </body>
</html>