<html>
    <head>
        <!-- <link rel="icon" href="/img/favicon.ico" type="img/x-icon"> -->
        <title>Welcome Leap - <!--@serverName--></title>
        <meta charset="utf-8">
        <title>Leap?</title>
        <link rel="stylesheet" href="/css/styles.css">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    </head>
    <body>        
        <p >
            <!--<a href="/"><img style="vertical-align:bottom" src="/img/logo32.png"/></a>-->
            <a href="/"><img style="vertical-align:bottom" src="/img/logo32.png"/></a>
            <span class="font-x-large font-bold"> Error code: <!--@code--></span>
        </p> 
        <p class="font-large"><span class="font-bold"><!--@status--></span></p>
        <p class="font-medium font-bold"><!--@message--></p>  
        <p class="font-small">    
            <pre>
                <!--@stacktrace-->
            </pre>
        </p>    
    </body>
</html>

