<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
 <head>
    <meta charset="utf-8">
    <title>Index of /@path</title>
    <link rel="stylesheet" href="/css/style.css">
    <script>
        const resJson = '@resourceList';
    </script>
    <script src="/script/script.js"></script>
</head>
 <body onload="generateResource(resJson)">
        <p class="font-xx-large"><span id="host" class="font-bold"></span></p>
        <!-- <p id="path" class="font-large font-bold">/</p> -->
        <p class="font-medium">The directories linked below contain current resources from Leap server</p>
        <p class="font-large font-bold">List of resources.</p>
        <span class="file-name">Name</span>
        <span class="last-modified">Last modified</span>
        <span class="file-size">Size</span>
        <span class="desc">Description</span>
        <br>    
        <a id="parent" class="font-medium" href="">..</a>
        <br>
        <p id="resource-list"></p>
</body>

</html>
