<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
    <head>
        <meta charset="utf-8">
        <title>Leap?</title>
        <link rel="stylesheet" href="/css/style.css">
        <script src="/script/script.js"></script>
      </head>    
    <body>
      <p><a href="/"><img style="vertical-align:middle" src="/img/logo32.png"/></a><span class="font-xx-large font-bold">Response code: @code</span></p>
      <p class="font-large">@type</p>
      <p class="font-medium">Message: </p>    
      <p class="font-small">@message</p>  
    </body>
</html>
